.p-card {
  background: var(--third-color) !important;
  color: var(--text-color) !important;
}

.p-card-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 2rem;
}

.p-card p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .p-card-title {
    font-size: 1.5rem;
  }
}