<section class="flex justify-center">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-primary">
        <span class="header-letter">L</span>
        <span class="header-letter">u</span>
        <span class="header-letter">c</span>
        <span class="header-letter">y</span>
        <span class="header-letter">p</span>
        <span class="header-letter">h</span>
        <span class="header-letter">e</span>
        <span class="header-letter">r</span>
        <span class="header-letter">.</span>
    </h1>
</section>