.home-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.home-subcontainer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.home-subcontainer-title-h1-mobile {
  display: none;
}

.home-subcontainer-title img {
  max-width: 150px;
  border-radius: 50%;
}

.home-subcontainer-title-h1-highlight {
  color: var(--secondary-color);
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  align-items: start;
}

.home-card {
  flex: 0 1 calc(33% - 2rem); 
}

.home-about-link {
  color: var(--text-color);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  
  .home-subcontainer-title img {
    max-width: 125px;
  }

  .home-subcontainer-title-h1 {
    font-size: 2rem;
  }

  .home-subcontainer-title-h1-highlight {
    font-size: 2rem;
  }

  .home-description {
    font-size: 1.5rem;
  }

  .home-card {
    flex: 0 1 calc(50% - 2rem); 
  }

  .home-about-title {
    font-size: 2rem;
  }

  .home-about-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .home-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
  }

  .home-subcontainer-title img {
    max-width: 100px;
  }

  .home-subcontainer-title-h1 {
    display: none;
  }

  .home-subcontainer-title-h1-mobile {
    display: flex;
    font-size: 1.5rem;
  }

  .home-subcontainer-title-h1-mobile-highlight {
    font-size: 1.5rem;
    color: var(--secondary-color);
  }

  .home-description {
    font-size: 1rem;
  }

  .home-card {
    flex: 0 1 calc(100% - 2rem); 
  }

  .home-about-title {
    font-size: 1.5rem;
  }

  .home-about-text {
    font-size: 1rem;
  }
}