.home-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.home-subcontainer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.home-subcontainer-title img {
  max-width: 150px;
  border-radius: 50%;
}

.home-subcontainer-title-highlight {
  font-size: 4rem;
  color: var(--secondary-color);
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  align-items: start;
}

.home-card {
  flex: 0 1 calc(33% - 2rem); 
}